---
layout: layout.liquid
title: 11ty Boilerplate
---

<div class="images">
    <div class="holoscreen-img">
        <img alt="holoscreen-pink2" src="/images/holoscreen-pink.png"/>
    </div>
    <div class="avatar-img">
        <img alt="avatar" src="/images/avatar.PNG"/>
    </div>
</div>

