body {
    font-family: Helvetica, sans-serif;
    color: #EAE8FF;
    background: #212121;
    padding: 0 40px;
    text-align: center;
}

.nav-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-top: 20px;
    position: sticky;
}

.home-nav {
    display: flex;
    align-items: center;
    font-size: 1em;
    padding-left: 25px;
    position: sticky;
}

.top-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    font-size: 1em;
    padding-left: 27px;
    padding-right: 50px;
    position: sticky;
}

.nav-link {
    text-decoration: none;
    font-size: 1em;
    color: #696969;
    margin-left: 1em;
    position: sticky;
}

.center-link {
    margin-left: 200px;
    position: sticky;
}

.right-link {
    margin-left: 200px;
    position: sticky;
}